
.nav h1 {
  color: RGB(243, 23, 45);
}



.heading {
background-color: aqua;
border: 2px;
border-style: solid;
border-color: gray;
text-align: center;
  
}

.desc {
background-color: linear-gradient(white, gray);
}


.nav a {
color: aqua;
}

.footer {
  background-color: linear-gradient(lightGray, darkGray);
  color: gray;
}

.nav {}


