.posts p {
background: DeepSkyBlue;
text-align: center;
}

h1 {
  color: RGB(243, 23, 45);
  text-align: center;
}

.heading {
background-color: aqua;
border: 2px;
border-style: solid;
border-color: gray;
text-align: center;
  
}


nav li {
display: block;
color: gray;
}

.footer {
  background-color: darkGray;
  border: 3px;
  border-style: solid;
}


