h1 {
color: red;
 font-size: 2rem;
 text-align: center;
}



.heading {
  border: 2px;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
  background-color: lightGray;
}

nav li {
display: block;
 color: gray;
}

.footer {
background-color: darkGray;
}

.heading a {
color: red;
}

.img {
background-image: url("https://raw.githubusercontent.com/TheCheeper/TheCheeper.github.io/master/RedCrystalSword.jpg");
background-size: cover
}
