h1 {
color: red;
 font-size: 2rem;
 text-align: center;
 font-family: 'Courier', 'Lucida';
 text-align: left;
}

.container {
background-image: url("https://raw.githubusercontent.com/TheCheeper/TheCheeper.github.io/master/A7C01ACA-CF7D-4201-A4FB-11C756D4CB3D-2535-000004D0A7E07751_tmp.png");
}

.nav {
  text-align: left;
  display: flex;
 flex-wrap: wrap;
 border-color: lightGray;
}

.footer li {
display: block;
 color: gray;
}

.footer {
background-color: linear-gradient(lightGray, darkGray);
 border-style: solid;
}

.nav a {
color: aqua;
}





