.header {
border: 2px;
border-style: bottom;
border-color: lightGray;
background-color: rgb(255, 175, 46);
background-color: hsla(30, 100%, 50%, 0.72);
display: inline;
text-align: left;
}

.main {
border-style: solid;
border-radius: 25px;
}

.header h1 {
color: red;
font-family: 'Courier', 'Lucida';
}


.footer h4 {
color: gray;
}

.footer {
background-color: rgb(82, 79, 76);
background-color: hsla(30, 4%, 31%, 0.92);
border: 1px;
border-style: solid;
border-color: lightGray;
}
