.heading h1 {
font-family: 'Verdana', 'Arial';
color: red;
}

.heading a {
color: aqua;
}

.heading {
background: darkOrange;
border: 1px;
border-style: solid;
border-color: lightGray;
margin-bottom: 2rem;
}

.article-1 {
background-color: lightGray;
text-align: left;
border: 2px;
border-style: solid;
border-color: darkGray;
}

.footer a {
display: inline;
}

.footer h4 {
color: gray;
}

.footer {
background-color: darkGray;
border: 1px;
border-style: solid;
border-color: lightGray;
}
