.heading a {
color: aqua;
}

.heading h1 {
color: red;
}

.heading {
float: right;
display: inline;
text-align: left;
background-color: darkOrange;
border: 2px;
border-style: solid;
border-color: gray;
font-family: 'Courier', 'Lucida';
margin-bottom: 30px;
}

.article-1 {
text-align: left;
background-color: lightGray;
border: 2px;
border-style: solid;
border-color: darkGray;
}

.article-1 h2 {
color: red;
}
